.card-container {
  cursor: pointer;
  height: 70%;
  width: fit-content;
  justify-content: center;
  perspective: 600px;
  position: relative;
  margin: auto;
  margin-bottom: 15px;
  transition: ease-in;
}

.card {
  height: inherit;
  width: inherit;
  position: absolute;
  border: 0.3px solid rgba(94, 94, 94, 0.541);
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
}

.card .back {
  height: inherit;
  width: inherit;
  text-align: center;
  transform: rotateY(180deg);
}

.eng {
  color: #333;
}

.han {
  color: #333;

  padding-top: 20%;
}

.pin {
  color: rgba(200, 10, 10, 1);

  padding-top: 10%;
}

.img {
  max-height: max-content;
  max-width: max-content;
}
