.card-container {
  max-width: min-content;
  margin: 0px;
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
}

.card-ui {
  height: inherit;
}

.container-ui {
  width: min-content;
}

.MuiContainer-maxWidthSm {
  max-width: fit-content !important;
}
